@model CategoriesViewModel
@{
    ViewBag.Title = "Categories";
}

@section HeaderSection {
    <link href="~/plugins/jstree/themes/default/style.min.css" rel="stylesheet" />
}

@section Breadcramps {
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-list"></i> Categories</li>
    </ol>
}

<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <a href="#" id="save-btn" class="btn btn-success disabled"><i class="fa fa-floppy-o"></i> Save</a>

                <div class="box-tools pull-right">

                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Caption</label>
                            <input type="text" value="" id="category-caption" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Code</label>
                            <input type="text" value="" id="category-code" class="form-control" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-categories">
            <div class="box-header with-border">
                <div id="category-control-btn-group">
                    <a href="#" id="create-btn" class="btn btn-default disabled"><i class="fa fa-plus"></i> Create</a>
                    <a href="#" id="update-btn" class="btn btn-primary disabled"><i class="fa fa-wrench"></i> Update</a>
                    <a href="#" id="delete-btn" class="btn btn-danger disabled"><i class="fa fa-trash-o"></i> Delete</a>
                </div>
                <a href="#" id="cancel-btn" class="btn btn-warning"><i class="fa fa-times"></i> Cancel</a>

                <div class="box-tools pull-right">
                    <a href="#" id="refresh-btn" class="btn bg-navy"><i class="fa fa-refresh"></i> Refresh</a>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12" id="categories-tree">
                        <ul>
                            @foreach (var item in Model.Categories)
                            {
                                <li id="@item.Id" data-parent-id="@item.ParentId" data-caption="@item.Caption" data-code="@item.Code" data-update-url="@item.UpdateUrl" data-delete-url="@item.DeleteUrl">
                                    <span>@item.Caption - @item.Code</span>

                                    @if (item.HasSubCategories)
                                    {
                                        <ul>
                                            @foreach (var subItem in item.Categories)
                                            {
                                                <li id="@subItem.Id" data-parent-id="@subItem.ParentId" data-code="@subItem.Code" data-caption="@subItem.Caption" data-update-url="@subItem.UpdateUrl" data-delete-url="@subItem.DeleteUrl"> <span>@subItem.Caption - @subItem.Code </span></li>
                                            }
                                        </ul>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section FooterSection {
    <script>
        var createUrl = "@Model.CategoryCreateUrl";
        var syncSortIndexesUrl = "@Model.SyncSortIndexesUrl";
    </script>
    <script src="~/plugins/jQuery/jquery.numeric-input.js"></script>
    <script src="~/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/plugins/jstree/jstree.min.js"></script>
    <script src="~/admin/scripts/Categories/Categories.js"></script>
}
